<!doctype html><html lang=ca>
  <meta charset=utf8>
  <title>Embassaments</title>

  <!--icra favicon-->
  <link href="favicon.ico" rel="icon" type="image/x-icon">

  <!--import js libs-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>

  <!--css-->
  <style>
    body{
      background:white;
      font-family:math;
    }
    th{
      background:#efefef;
    }
  </style>
<head><body>

<div id=app>
  <div v-if="!embassaments">carregant...</div>

  <div v-if="embassaments">
    <h1 style="margin:0;text-align:left">
      Estat dels {{get_resum_embassaments.length}} embassaments de Catalunya (conques internes)
    </h1>

    <table border=1
      style="
        font-family:monospace;
        border-collapse:collapse;
      "
    >
      <tr>
        <th>Data
        <th>Embassament
        <th>Volum actual (hm<sup>3</sup>)
        <th>Capacitat (hm<sup>3</sup>)
        <th colspan=2>% volum
      </tr>

      <!--recorre embassaments-->
      <tbody v-for="emb in get_resum_embassaments">
        <tr>
          <td style="white-space:nowrap">
            {{emb.dia.substring(0,10)}}
          </td>
          <td>
            {{emb.nom.replace("Embassament de ","")}}
          </td>
          <!--
          <td style="text-align:center">{{emb.nivell_absolut}}</td>
          -->
          <td style="text-align:center">{{emb.volum_embassat}}</td>
          <td style="text-align:center">{{emb.volum_maxim.toFixed(2)}}</td>
          <td :style="{textAlign:'center',color:color(emb.percentatge_volum_embassat)}">
            <b>{{parseFloat(emb.percentatge_volum_embassat).toFixed(1)}} %</b>
          </td>
          <td style="padding:1px">
            <div :style="{background:'#aaa',width:emb.volum_maxim+'px'}">
              <div :style="{background:'#00b9f3',width:emb.volum_embassat+'px',height:'1.5em'}">
              </div>
            </div>
          </td>
        </tr>
      </tbody>

      <!--total-->
      <tbody
        v-for="
          obj in [{
            volum_embassat: get_resum_embassaments.map(e=>e.volum_embassat).reduce((p,c)=>parseFloat(p)+parseFloat(c),0),
            volum_maxim: get_resum_embassaments.map(e=>e.volum_maxim).reduce((p,c)=>p+c,0),
          }]
        "
        style="
          font-size:x-large;
          background:#efefef;
        "
      >
        <tr v-for="perc in [100*obj.volum_embassat/obj.volum_maxim]">
          <th colspan=2 style="text-align:center"></th>
          <td style="text-align:center">{{obj.volum_embassat.toFixed(2)}}</td>
          <td style="text-align:center">{{obj.volum_maxim.toFixed(2)}}</td>

          <!--cela més important-->
          <th :style="{color:color(perc),fontSize:'larger',padding:'5px'}">{{perc.toFixed(2)}}%</th>

          <td></td>

          <!--
          <td style="padding:1px;background:white">
            <div :style="{background:'#aaa',width:obj.volum_maxim+'px'}">
              <div :style="{background:'#00b9f3',width:obj.volum_embassat+'px',height:'1.5em'}">
              </div>
            </div>
          </td>
          -->
        </tr>
      </tbody>
    </table>
  </div>

  <div style="max-width:80vw">
    <canvas id=grafic></canvas>
  </div>
</div>

<script>
  let app=Vue.createApp({
    data(){return {
      embassaments:null, //raw data from api
    }},

    methods:{
      color(num){
        let r = 255*(100-num)/100;
        let g = 255*(num)/100;
        let b = 0;
        return `rgb(${r},${g},${b})`;
      },
    },

    computed:{
      get_embassaments(){
        //diccionari d'embassaments
        let dicc={};
        this.embassaments.forEach(dada=>{
          //estructura dada: {dia,estaci,nivell_absolut,percentatge_volum_embassat,volum_embassat}
          let dia    = dada.dia;
          let estaci = dada.estaci;

          //nou array
          if(!dicc[estaci]){dicc[estaci]=[];}

          //push dada a la seva estació
          dicc[estaci].push(dada);
        });
        return dicc;
      },

      get_historic(){
        let dicc={};//ret val
        let dies_ordenats = this.get_dies_ordenats;
        this.get_resum_embassaments.forEach(emb=>{
          dicc[emb.nom]={};
          dies_ordenats.forEach(dia=>{
            dicc[emb.nom][dia]={volum_embassat:0};
          });
        })
        this.embassaments.forEach(dada=>{
          dicc[dada.estaci][dada.dia]=dada;
        });
        return dicc;
      },

      get_resum_embassaments(){
        let arr=[];
        Object.entries(this.get_embassaments).forEach(entry=>{
          let nom                        = entry[0];
          let dia                        = entry[1][0].dia;
          let nivell_absolut             = entry[1][0].nivell_absolut;
          let volum_embassat             = entry[1][0].volum_embassat;
          let percentatge_volum_embassat = entry[1][0].percentatge_volum_embassat;
          let volum_maxim                = volum_embassat*100/percentatge_volum_embassat;
          arr.push({
            nom,
            dia,
            nivell_absolut,
            volum_embassat,
            volum_maxim,
            percentatge_volum_embassat,
          });
        });
        arr.sort((a,b)=>{
          return b.volum_maxim-a.volum_maxim;
        });
        return arr;
      },

      get_dies_ordenats(){
        //get dies diferents
        let dies = new Set();
        this.embassaments.forEach(dada=>{
          dies.add(dada.dia);
        });
        return Array.from(dies).sort();
      },

      get_regressio(){
        //converteix dia a numero enter
        let dies = this.get_dies_ordenats;
        let xi = dies.map(str=>new Date(str).getTime());

        let historic = this.get_historic; //diccionari embassaments
        let noms     = Object.keys(historic);

        let yi = dies.map(dia=>{
          let volums = noms.map(nom=>historic[nom][dia].volum_embassat).filter(n=>n);
          volums = volums.map(n=>parseFloat(n));
          return volums.reduce((p,c)=>p+c,0);
        });

        //treu el primer valor (sol estar mal format a l'api)
        xi = xi.slice(1);
        yi = yi.slice(1);

        let N = xi.length;
        if(yi.length!=N){
          throw("x and y lenghts are different");
        }

        /*regressio lineal*/
        let xi_sq = xi.map(x=>x*x);     //array x squared
        let yi_sq = yi.map(y=>y*y);     //array y squared
        let xiyi  = xi.map((_,i)=>xi[i]*yi[i]);

        //sums of arrays
        let xi_sum    = xi.reduce((p,c)=>p+c,0);    //sum of x array
        let yi_sum    = yi.reduce((p,c)=>p+c,0);    //sum of y array
        let xi_sq_sum = xi_sq.reduce((p,c)=>p+c,0); //sum of x squared array
        let yi_sq_sum = yi_sq.reduce((p,c)=>p+c,0); //sum of y squared array
        let xiyi_sum  = xiyi.reduce((p,c)=>p+c,0);  //sum of x·y array

        //compute m (slope) and n (intercept) as (y = mx + n)
        let m = (N*(xiyi_sum) - yi_sum*xi_sum)/(N*xi_sq_sum - xi_sum*xi_sum);
        let n = (yi_sum - m*xi_sum)/N;

        //compute r squared
        let r_squared = Math.pow(N*xiyi_sum - xi_sum*yi_sum, 2)/((N*xi_sq_sum - Math.pow(xi_sum,2))*(N*yi_sq_sum - Math.pow(yi_sum,2)));

        //prediccio de x quan y=0
        //y = mx+n
        //x = (y-n)/m
        //console.log({N,xi_sum,yi_sum,m,n});
        let x_pred      = (0-n)/m;
        let x_pred_data = (function(){
          let d = new Date(x_pred);
          if(d) return d.toISOString().substring(0,10);
          else {
            throw(x_pred);
          }
        })();

        //end
        return {xi,yi, m, n, r_squared, x_pred_data};
      },
    },
    //mounted(){},
  }).mount("#app");

  //crida api
  fetch("https://analisi.transparenciacatalunya.cat/resource/gn9e-3qhr.json")
    .then(r=>r.json())
    .then(arr=>{
      app.embassaments=arr;
      dibuixa_grafic();
    });
  /**/

  function dibuixa_grafic(){
    let el = document.getElementById("grafic");

    let regressio = app.get_regressio;
    let dies = app.get_dies_ordenats.map(d=>d.substring(0,10));

    let prediccions = dies.map(d=>0);//init

    if(regressio && regressio.m<0 && regressio.r_squared>0.9){
      while(true){
        let ultim = new Date(dies[dies.length-1]);
        let nou   = new Date(ultim.getTime()+86400e3).toISOString().substring(0,10);
        dies.push(nou);
        if(nou>=regressio.x_pred_data){
          break;
        }
      }

      prediccions = dies.map(dia=>{
        let x = new Date(dia).getTime();
        let y = regressio.m*x + regressio.n;
        return y;
      });
    }

    let chart = new Chart(el,{
      type:'bar',
      data:{
        labels:dies,
        datasets:app.get_resum_embassaments.map(emb=>{
          return {
            label:emb.nom.replace("Embassament de ",""),
            data: Object.values(app.get_historic[emb.nom]).map(dada=>dada.volum_embassat),
            //backgroundColor,
            //borderWidth,
          };
        }).concat({
          label:"Predicció",
          data:prediccions,
          type:"line",
          pointRadius:0.1,
        }),
      },
      options:{
        scales:{
          x:{
            stacked:true,
          },
          y:{
            stacked:true,
            title:{
              display:true,
              text:"Volum embassat (hm3)",
            },
            //max:700,
          },
        },
        plugins:{
          title:{
            display:true,
            text: regressio.m>0 ? "Històric":`Històric. Predicció zero: "${regressio.x_pred_data}" (regressió lineal: R² = ${regressio.r_squared.toFixed(4)})`,
            font:{
              size:20,
            },
          },
          legend:{
            display:true,
            position:"bottom",
          },
        },
      },
    });
  };
</script>
